@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Public+Sans:ital,wght@0,200;1,200&family=Roboto:wght@400;500&family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(168,165,165);
    width: 400px;
    font-family:'Fira Sans' sans-serif;
    height:100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-style: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
 text-decoration: none;
 color: black;
}
.main{
    /*background-color: yellow;*/
    width: 90vw;
}

.container{
    display: flex;
}
.infoContainer{
    /*background-color: rgb(202,9,128);*/
    height: 68vh;
    width: 50vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro",monospace;
}
.hellow{
    font-size: 50px;
}
.name{
    font-size: 60px;
    font-weight: bold;
    font-family:'Fira Sans' sans-serif;
}
.about{
    font-size: 40px;
}
.aboutmore{
font-size: 22px;
font-family:'Fira Sans' sans-serif;
margin-top: 23px;
}
.buttons{
    margin-top: 34px;
}
.buttons button{
padding: 9px 14px;
border-radius: 22px;
color: white;
background-color: dodgerblue;
font-weight: bold;
font-size: 21px;
margin: 0 3px;
cursor: pointer;
}
.buttons button:hover{
background-color: white;
color: dodgerblue;
}
.devPic img{
    height: 58vh;
}